/* цвет основного текста #757575; */
/* вторичний цвет текста #212121; */
/* цвет основного текста герои #FFFFFF; */
/* акцент #2196F3 */
/* белый цвет для футера адрес #FFFFFF; */ 
/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #F5F4FA; */
/* цвет футера #2F303A; */
/* background-color - сделал исключительно для того, что бы ментору 
было видно белый текст на черном фоне, потом пофиксю*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none; /* убираю точки в списках  */
}
a {
    text-decoration: none; /* убираю подчеркивание в ссылках */
}

/* логотип */
.logo {
    color: var(--accent-color);
}

/* светлый фон темный текст лого */
.logo-text-dark {
    color: var(--title-text-color);

}

/* темний фон светлый текст лого */
.logo-text-light {
    color: var(--primary-white-color);
    background-color: var(--background-color-dark);
}

/* навигация по страницам сайта */
.site-nav .link {
    color: var(--title-text-color);
}

/* интерактивность */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* навигация авторизации  */
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* стили секции герои */
.hero-title {
    color: var(--primary-white-color);
    background-color: var(--background-color-dark);
}

/* стили секций */
.section-title {
    color: var(--title-text-color);
}

/* стили списков секций */
.features .title {
    color: var(--title-text-color);
}

/* Подвал сайта */
.map {
    color: rgba(255,255,255,1);
    background-color: var(--background-color-dark);
}
.contact {
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-color-dark);
}

/* кнопка */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
  }