/* body text color #757575; */
/* secondary text color #212121; */
/* main text color heroes #FFFFFF; */
/* accent #2196F3 */
/* white for footer address #FFFFFF; */ 
/* main background color #FFFFFF; */
/* secondary background color #F5F4FA; */
/* footer background color #2F303A; */
/* background-color - сделал исключительно для того, что бы ментору 
было видно белый текст на черном фоне, потом пофиксю*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
}

body {
    font-style: normal;
}

a[href] {
    text-decoration: none; /* remove the underline in links */
}

ul {list-style: none;}

/* ! =======================MAIN NAVIGATION===================== */
/* * =================THE LOGO================= */
.logo,
.logo-text-dark,
.logo-text-light {
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/* light background dark text logo */
.logo-text-dark {
    color: var(--title-text-color);
}

/* dark background light text logo */
.logo-text-light {
    color: var(--primary-white-color);
    background-color: var(--background-color-dark);
}
/* * =================END THE LOGO================= */

/* * =================MENU========================= */

/* navigation through site pages */
.site-nav-link {
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* interactivity */
.site-nav-link:hover,
.site-nav-link:focus,
.header-contact-email:hover,
.header-contact-email:focus,
.header-contact-tell:hover,
.header-contact-tell:focus {
    color: var(--accent-color);
}

/* current page */
.site-nav-link.current {
    color: var(--accent-color);
}

.header-address {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
}

.header-contact-email {
    color: #2196F3;
}

.header-contact-tell {
   color: #757575;
}

/* * =================END MENU========================= */

/* * ===================HEROES SECTION STYLES=================== */

.hero {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    background-color: var(--background-color-dark); 
}

.hero-title {
    color: var(--primary-white-color); 
}
/* * ===================END HEROES SECTION STYLES=================== */

/* * ========================SECTION STYLES==================== */

.section {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
}

.section-title {
    color: var(--title-text-color);
    text-align: center;
}

/* section list styles
.features .title {
    color: var(--title-text-color); */
}
.subtitle-item {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--primary-text-color);
}


/* * ========================END SECTION STYLES==================== */

/* ! =======================END MAIN NAVIGATION===================== */

/* ! ======================FOOTER============================ */
.footer-address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    background-color: var(--background-color-dark);
}

.footer-contact-address {
    color: rgba(255,255,255,1);
}

.footer-contact-email,
.footer-contact-tell {
    color: rgba(255, 255, 255, 0.6);
}

/* ! ======================END FOOTER============================ */


/* TODO =========================BUTTON============================= */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

/* TODO =========================END BUTTON============================= */